<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="First suite" verbose="1">

    <!--这个用途不大，到测试数据的时候再-->

    <test name="all" enabled="true">
        <packages>
            <package name="com.wukong.examples.controller.*"/>
        </packages>
    </test>

    <test name="testByClass" enabled="false">
        <classes>
            <class name="com.wukong.examples.controller.HelloControllerTests"/>
        </classes>
    </test>

    <test name="testByClass2" enabled="false">
        <classes>
            <class name="com.wukong.examples.controller.Http2HttpsTests"/>
        </classes>
    </test>

</suite>

